Body {
	background-color:#171733;
	color: #FCC52C;
	font-family: 'Lora', serif;
	font-size: 17px;
	font-weight: lighter;
	text-align: center;
}
h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
}
	
#pp{

	width: 400px;
	border-radius: 50%;
	box-shadow: 5px 5px 3px rgba(252,197,44,0.1) ;
}

#wagon{
	font-size: 20px;
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

#wagon:hover {
	background-color: darkred;
	color: white;
}



h1 {
	color: #FCC52C;
	font-size: 32px;
	font-weight: 900;
}
h2 {
	color: white;
	font-size: 25px;
	font-weight: lighter;
	font-weight: 500;
}
a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight:600;
	font-size: 60px;

}
a:hover {
	color: darkred;
}

.container {
	width: 700 px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;	
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;	
	}
}


.card-white {

    background: #171733;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgba(252,197,44,0.5);
    border-radius: 4px;
    width: 800px;
    margin: 40px auto;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;

}

#introduction p {
	margin-bottom: 40px;

}




